* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
  font-family: "Roboto-Mono", monospace;
  color: #442524;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
  align-items: flex-start;
  background-color: #c6cdd6;
}

.todo-title {
  margin-bottom: 1rem;
}

.todo-title h1 {
  font-family: "Shadows Into Light", cursive;
  font-size: 4rem;
  font-weight: 700;
}

header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

header li {
  list-style: none;
  padding: 0.3rem 5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d1c7cd;
  border-bottom: 2px solid #442524;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

header li:hover {
  background-color: #c6cdd6;
}

header span {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 3px;
}

header button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50%;
  background-color: #442524;
  color: #c6cdd6;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.3s;
  text-align: end;
}

header button:hover {
  transform: scale(1.1);
}

#add-project {
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  background-color: #442524;
  color: #c6cdd6;
  font-size: 1rem;
  font-family: "Roboto-Mono", monospace;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
}

#add-project:hover {
  transform: scale(1.1);
}

#add-project-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c6cdd6;
  padding: 2rem;
  border-radius: 10px;
  z-index: 1000;
  min-height: 30vh;
}

#add-project-dialog form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#add-project-dialog label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#add-project-dialog input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: "Roboto-Mono", monospace;
  font-size: 1rem;
}

#add-project-dialog button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #442524;
  color: #c6cdd6;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
  font-family: "Roboto-Mono", monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.proj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  border-bottom: 2px solid #442524;
  width: 100%;
  background-color: #dcccc2;
}

.proj h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 3px;
}

.proj p {
  font-size: 1rem;
  font-weight: 400;
}

.task-content {
  display: flex;
  flex-direction: column;
  background-color: #dcccc2;
  width: 100%;
  height: 100%;
}

#tasks-list {
  display: grid;
}

#tasks-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #442524;
  background-color: #ffffff;
  transition: background-color 0.3s;
  gap: 5rem;
}

#tasks-list li:hover {
  background-color: #c6cdd6;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

#tasks-list li span {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 3px;
}

#tasks-list li button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #442524;
  color: #c6cdd6;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
}

#tasks-list li button:hover {
  transform: scale(1.1);
}

#add-task {
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  background-color: #442524;
  color: #c6cdd6;
  font-size: 1rem;
  font-family: "Roboto-Mono", monospace;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
  position: absolute;
  top: 3%;
  left: 87%;
}

#add-task:hover {
  transform: scale(1.1);
}

#add-task-dialog {
  position: fixed;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  background-color: #c6cdd6;
  padding: 2rem;
  border-radius: 10px;
  z-index: 1000;
  min-height: 10vh;
}

#add-task-dialog form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#add-task-dialog label {
  font-weight: 700;
  margin-bottom: 1rem;
}

#add-task-dialog input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: "Roboto-Mono", monospace;
  font-size: 1rem;
}

#dueDate {
  border: none;
  width: 205px;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: "Roboto-Mono", monospace;
  font-size: 1rem;
}

#priority {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: "Roboto-Mono", monospace;
  font-size: 1rem;
}

#add-task-dialog button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #442524;
  color: #c6cdd6;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
  font-family: "Roboto-Mono", monospace;
}

#add-task-dialog button:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .todo-container {
    grid-template-columns: 1fr;
  }

  #add-task {
    left: 75%;
  }

  #add-task-dialog {
    left: 50%;
  }

  #add-task-dialog form {
    flex-direction: column;
  }

  #tasks-list li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .todo-container {
    font-size: 0.9rem;
  }

  .todo-title h1 {
    font-size: 3rem;
  }

  header h2,
  header span,
  #add-project-dialog label,
  .proj h2,
  #tasks-list li span {
    font-size: 1.2rem;
  }

  #add-task {
    left: 70%;
  }

  #add-task-dialog {
    left: 50%;
  }

  #add-task-dialog form {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .todo-container {
    font-size: 0.8rem;
  }

  .todo-title h1 {
    font-size: 2.5rem;
  }

  header h2,
  header span,
  #add-project-dialog label,
  .proj h2,
  #tasks-list li span {
    font-size: 1rem;
  }

  #add-task {
    left: 60%;
  }

  #add-task-dialog {
    left: 50%;
  }

  #add-task-dialog form {
    flex-direction: column;
  }
}
